.logo{
    height: 30px;
    height: 100%;
}
.navbar{
    height: 70px;
}
.btn{
    width: 100px;
    background-color: lightgray;
    color: black;
    padding: 0;
    border: 1px solid;
}

#main{
    background-color: chartreuse;
    height: 100%;
}

.container{
    display: flex;
    justify-content: center;
    height: 100%;
}

.grid{
    height: 500px;
    width: 500px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.cell{
    width: 10%;
    height: 10%;
    border: 1px solid black;
}